.cont-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 20% 0%;
  text-align: center;
  justify-content: space-between;
}

.cont-con h1 {
  font-size: 3em;
}

.cont-con p {
  width: 90%;
}

#contact-p {
  font-size: 1.4em;
}

#form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3em;
}

.input-div {
  display: flex;
  margin-bottom: 0.5em;
  flex-direction: column;
  align-items: flex-start;
}

#textarea-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-label {
  font-size: 1.3em;
}

.input {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #E5E7EB;
}

.input:focus {
  outline: none;
  border-color: #E5E7EB;
  box-shadow: 0 3px 6px 0 lightgray;
}

#textarea {
  width: 340px;
  height: 167px;
}

#form-btn {
  padding: 12px 30px;
  margin: 1% 0% 2%;
}